#game-board {
    display: grid;
    grid-template-rows: repeat(6, 1fr); /* Número de linhas */
    gap: var(--grid-gap);
    padding: 10px; /* Ajuste conforme necessário */
    box-sizing: border-box;
    margin-top: 20px; /* Espaço do título */
}

.attempt-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--grid-gap);
}


